@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Ubuntu:400,700&display=swap');

:root {
    --bela: #fff;
    --orange: rgb(255, 138, 91);
    --siva: #555;
    --moka: #FCEADE;
    --black: #000;
    --transition: .4s ease;
}

html {
    scroll-behavior: smooth;
}

/******animate.style pogledaj sajt********/

body {
    font-family: 'Roboto', sans-serif;
    /*color: var(--orange);*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
}

.py-5 {
    padding: 100px 0 !important;
}

.title h2 {
    font-size: 45px;
    text-transform: uppercase;
    color: var(--orange);
}

/*********************
nav
*********************/
.navbar {
    border-top: 5px solid var(--orange);
    background: var(--black);
    padding: 0;
    margin: 0;
}

.navbar-brand {
    background: var(--orange);
    padding: 15px 40px;
    color: var(--bela);
    text-shadow: 0 0 2px var(--bela);
}

.navbar-brand:hover {
    color: var(--black);
    text-shadow: 0 0 2px var(--bela);
}

.navbar .nav-link {
    color: var(--orange);
    font-size: 20px;
    margin: 0 10px;

}

.navbar .nav-link:hover {
    color: var(--moka);
    transition: var(--transition);
}

/***banner***/
#banner {
    background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .99)), url(img/banner.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

#banner::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--black);
    transform: skewY(10deg);
    transform-origin: left bottom;
    bottom: 0;
    z-index: -1
}

#banner h2 {
    color: var(--orange);
}

#banner .row {
    height: 80vh;
    line-height: 5;
}

.bannerBtn {
    background: transparent;
    color: var(--orange);
    border: 2px solid var(--orange);
    text-decoration: none;
    padding: 15px 25px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 20px;
}

.bannerBtn:hover {
    text-decoration: none;
    background: var(--orange);
    color: var(--bela);
    transition: var(--transition);
}

/***bannerIcons***/
.bannerIcons {
    margin-top: -100px;
}

.bannerIcons ul li {
    background: var(--orange);
    margin: 0 10px;
    color: var(--moka);
    padding: 10px;
    transition: var(--transition);

}

.bannerIcons ul li i {
    font-size: 50px;
    color: var(--black);
    transition: var(--transition);
}

.bannerIcons ul li i:hover {
    color: var(--orange);
}

.bannerIcons ul li:hover {
    background: var(--black);
}

/***serveces***/
#services {
    margin-top: 80px;
}

#services i {
    font-size: 60px;
    color: var(--bela);
    background: var(--orange);
    padding: 50px;
}

#services i:hover {
    background: var(--black);
    transition: var(--transition);
}

#services .fa-apple {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

#services .fa-android {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

#services .fa-php {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

#services .fa-js {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

/***contact***/
#contact {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(img/contact.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    clip-path: polygon(0 22%, 100% 0%, 100% 78%, 0% 100%);
}

#contact .row {
    height: 40vh;
}

#contact h2 {
    color: var(--bela);
    font-size: 4em;
    text-transform: uppercase;
}

#contact input {
    background: transparent;
    border: none;
    border-bottom: 3px solid var(--bela);
    border-radius: 0;
    font-size: 1.5em;
}

#contact button {
    text-decoration: none;
    font-size: 1.5em;
    background: transparent;
    padding: 10px 30px;
    color: var(--orange);
    border: 2px solid var(--orange);
    margin: 0 40px;
    transition: var(--transition);
    text-transform: uppercase;

}

#contact button:hover {
    background: var(--orange);
    color: var(--black);
}

/*********************
team
*********************/
.carousel-caption {
    background: var(--orange);
    bottom: 60px;
    left: 0;
    right: 0;
    opacity: .8;
    padding: 10px 0;
}

#team .row {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}


/***about***/
#about {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(img/about-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    padding: 100px 0 200px 0;
}

#about img {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

#about .accordion>.card>.card-header {
    background: var(--orange);
}

#about .card {
    border: 1px solid --black
}

#about .btn-link {
    color: var(--black);
    text-decoration: none;
    font-size: 25px;
}

#about .btn-link {
    color: var(--bela);
    text-decoration: none;
}

#about .btn-link::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0a4"
}

/***projects***/
#project {
    padding-top: 50px;
}

#projects .col-md-3 {
    padding: 0;
}

#projects .imgContainer {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    overflow: hidden;

}

#projects .imgContainer img:hover {
    opacity: .7;
    cursor: pointer;
    transition: var(--transition);
}

#projects .imgContainer:hover .imgIcons {
    bottom: 0;
}

#projects .imgIcons {
    position: absolute;
    bottom: -10rem;
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
    width: 100%;
    transition-duration: 1s;
    text-align: center;
    padding: 20px 0;
}

#projects i {
    font-size: 2rem;
    color: var(--orange);
    margin: 0 10px;
    transition: var(--transition);
}

#projects i:hover {
    color: var(--siva);
}




/***peoples***/
#people .card img {
    border-radius: 50%;
    width: 80%;
    margin: -100px auto 0 auto;

}

#people .row:nth-child(2) {
    margin-top: 150px;
}

#people hr {
    background: var(--orange);
    border: none;
    height: 1px;
}

#people i {
    font-size: 2rem;
    color: var(--orange);
    margin-left: 10px;
    transition: var(--transition);
}

#people i:hover {
    color: var(--siva);
}

/***skills***/
#skills {
    background-image: linear-gradient(rgba(255, 138, 91, .5), rgba(255, 138, 91, .5)), url(img/about-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    padding: 100px 0 100px 0;
}

.progress-bar {
    background-color: black;

}

/***pricing***/
#pricing {
    border-radius: 0;
}

#pricing .card-title {
    padding-top: 30px;
}

.pricenum {
    position: relative;
    background: var(--moka);
    padding: 40px 0;
}

.pricenum .money {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 2rem;
}

.pricenum .moneynum {
    font-size: 4rem;
}

.pricenum .monyend {
    font-size: 1rem;
}

#pricing .list-group li:first-child {
    padding-top: 50px;
}

#pricing .list-group .list-group-item {
    font-size: 1rem;
}

#pricing .list-group {
    border-radius: 0 !important;
}

#pricing .btn {
    background: var(--orange);
    border-radius: none !important;
}

#pricing .btn:hover {
    background: var(--siva);
    color: var(--bela)
}

#pricing .action {
    background: var(--orange);
}

/***footer***/
footer {
    background: var(--black);
    color: var(--bela);
}

footer h2,
i {
    color: var(--orange);
}


/***********
responsive
***********/
@media(max-width:766px) {
    #banner {
        height: 80vh;
    }

    #banner h1 {
        font-size: 3rem;
    }

    .bannerIcons {
        /* margin-top: -100px; */
    }

    .bannerBtn {
        font-size: 1.5rem;
        padding: 10px 15px;
        text-transform: uppercase;
    }


    .bannerIcons ul li {
        margin: 0 5px;
        padding: 5px;
        transition: var(--transition);

    }

    .bannerIcons ul li i {
        font-size: 2rem;
        color: var(--black);
        transition: var(--transition);
    }

    .bannerIcons ul li p {
        font-size: .7rem;
    }

    #services {
        padding-bottom: 0;
    }

    #services .col-md-3 {
        padding-top: 50px
    }

    h2 {
        font-size: 2rem;
        text-transform: uppercase;
    }

    #contact h2 {
        font-size: 2rem;
        padding-top: 50px;
    }

    #contact button {

        font-size: 1.5rem;
        padding: 10px 20px;
        text-align: justify;
        margin: 10px 0;
    }

    .carousel-caption h5 {
        font-size: 1rem;
    }

    .carousel-caption {
        bottom: 0px;
        opacity: .8;
        padding: 5px 0;
    }

    #team {
        padding: 50px 0 !important;
    }

    #about img {
        width: 0%;
    }

    #about .card-header h2 {
        font-size: 1.5rem;
    }

    #about .card-header .btn {
        padding: 0 0;
    }


    .py-5 {
        padding: 50px !important;
    }

    #people .card img {
        border-radius: 50%;
        width: 80%;
    }

    #people .row:nth-child(2) {
        margin-top: 0px !important;
    }

    #people .col-md-3 {
        padding: 100px 0;
    }

    #pricing .col-md-3 {
        margin: 20px 0;
    }

    footer {
        text-align: center;
        ;
    }
}